.tag-list-container {
    flex-direction: row;
    align-self: stretch;
    padding: 3px;
}

.tag-list-item {
    margin: 3 4px;
    padding: 1 6px;
    -unity-text-align: middle-center;
    border-radius: 5px;
}